a{
    color: white;
    text-align: center;
}
.container-fluid{
    margin-left: 14px;
 padding: 06px;
    padding: 10px;
}
.navbar-nav{
    margin-left: 27px;
}
.nav-item{
    margin-left: 105px;
}
.d-flex{
    margin-left: 100px;
}
img{
    margin-top: -10px;
    margin-left: -25px;
    padding: 0px;  
    border-radius: 6px;
}
.w-5{
    display: none;
}
.text-sm{/*manala an le text par defaut*/
    display: none;
}
/* .font-medium{
    display: none;
} */
/* .flex{
    display:-webkit-flex;
    margin-left: 0px;
} */
.relative{
    display: initial;
    
}